In [22]:
import pandas as pd
import numpy as np

In [23]:
data = pd.read_csv("Database.csv")
data

,Unnamed: 0,Gene Sequence,Cultivar ID,Plant Height(cm),Subpopulation
0,0,ACCGATCTT,W128,149.800000,Intermediate
1,1,GCCGTACTT,W030,172.600000,Indica Intermediate
2,2,GCCGTACTC,W049,156.900000,Aus
3,3,GCCGTACTC,W134,156.900000,Aus
4,4,GCCGTACCC,W256,145.100000,VI/Aromatic
...,...,...,...,...,...
523,523,GCTGTTTTC,C099,142.911667,Intermediate
524,524,GCTGTTTTC,W033,142.911667,Intermediate
525,525,GCTGTTTTC,W192,142.911667,Intermediate
526,526,GCTGTTTTC,C066,142.911667,Intermediate
527,527,GCTGTTTTC,W107,142.911667,Intermediate

In [24]:
del data['Unnamed: 0']

In [25]:
data

    Gene Sequence Cultivar ID  Plant Height(cm)        Subpopulation
0       ACCGATCTT        W128        149.800000         Intermediate
1       GCCGTACTT        W030        172.600000  Indica Intermediate
2       GCCGTACTC        W049        156.900000                  Aus
3       GCCGTACTC        W134        156.900000                  Aus
4       GCCGTACCC        W256        145.100000          VI/Aromatic
..            ...         ...               ...                  ...
523     GCTGTTTTC        C099        142.911667         Intermediate
524     GCTGTTTTC        W033        142.911667         Intermediate
525     GCTGTTTTC        W192        142.911667         Intermediate
526     GCTGTTTTC        C066        142.911667         Intermediate
527     GCTGTTTTC        W107        142.911667         Intermediate

[528 rows x 4 columns]

In [26]:
legend = {'A': 1,'T': 2,'C':3,'G': 4}
encoded=[]
for i in data['Gene Sequence']:
  score = ""
  for j in i:
    score += str(legend[j])
  encoded.append(int(score))

In [27]:
data['Gene Sequence'] = encoded
data

     Gene Sequence Cultivar ID  Plant Height(cm)        Subpopulation
0        133412322        W128        149.800000         Intermediate
1        433421322        W030        172.600000  Indica Intermediate
2        433421323        W049        156.900000                  Aus
3        433421323        W134        156.900000                  Aus
4        433421333        W256        145.100000          VI/Aromatic
..             ...         ...               ...                  ...
523      432422223        C099        142.911667         Intermediate
524      432422223        W033        142.911667         Intermediate
525      432422223        W192        142.911667         Intermediate
526      432422223        C066        142.911667         Intermediate
527      432422223        W107        142.911667         Intermediate

[528 rows x 4 columns]

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error

# Assuming the data is stored in a pandas dataframe named 'data'
X = data['Gene Sequence'].values.reshape(-1, 1)
y = data['Plant Height(cm)'].values

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a KNN regressor object and fit it to the training data
knn = KNeighborsRegressor(n_neighbors=5)
knn.fit(X_train, y_train)

# Use the trained model to predict plant heights for the test set
y_pred = knn.predict(X_test)

# Calculate the root mean squared error (RMSE) to evaluate the model's performance
rmse = mean_squared_error(y_test, y_pred, squared=False)
print("RMSE:", rmse)

RMSE: 6.682156145799109

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

x = data['Gene Sequence'].values
y = data['Subpopulation'].values

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
x_train = x_train.reshape(-1, 1)
x_test = x_test.reshape(-1, 1)

model = KNeighborsClassifier(n_neighbors=5)

model.fit(x_train, y_train)

y_pred = model.predict(x_test)

accuracy = accuracy_score(y_test, y_pred)

print("Accuracy: {:.2f}%".format(accuracy*100))

Accuracy: 94.34%

In [30]:
primary = pd.read_csv("Primary.csv")
primary = np.array(primary)
primary = primary.reshape(-1)

In [35]:
input_sequence = input("DNA Sequence: ")
print("Input Sequence:",input_sequence)
input_list = list(input_sequence)
for i in range(len(input_sequence)):
    if input_sequence[i] == "N":
        input_list[i] = primary[i]
final_sequence = ''.join(input_list)
legend = {'A': 1, 'T': 2, 'C': 3, 'G': 4}
string = ""
for i in final_sequence:
    for j in i:
        string += str(legend[j])
score = np.array(int(string))
score = score.reshape(1, -1)
predicted_height = knn.predict(score)
predicted_subpopulation = model.predict(score)
print("Plant Height: {:.2f} cm".format(predicted_height[0]))
print("Subpopulation: {}".format(predicted_subpopulation[0]))

Input Sequence: GCTAACCTA
Plant Height: 153.08 cm
Subpopulation: Tropical Japonica